name: Deploy to DigitalOcean

on:
  push:
    branches:
      - master  # 只在 main 分支 push 时触发

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'   # 你实际使用的 Go 版本

      - name: Build binary
        run: |
          GOOS=linux GOARCH=amd64 go build -o irontrack

      - name: Upload and restart service
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          source: "irontrack"
          target: "/srv/irontrack/"

      - name: Restart systemd service
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            systemctl restart myapp
            systemctl status myapp --no-pager
